/**
 * All anchors
 */
a {
  color: #709cf9;
  text-decoration: none;
  transition: color .1s;
  &:hover,
  &:active {
    color: #0B348B;
    text-decoration: underline;
  }
}

/**
 * Anchor has link but does not have a class
 */
a[href]:not([class]) {
  //
  &:hover,
  &:active {}
}

/**
 * Outline
 *
 * @References
 * 1. http://a11yproject.com/posts/never-remove-css-outlines/
 */
a:focus,
button:focus {
  outline: 1px dotted #828587; /* 1 */
}

/**
 * Text transform
 *
 * @References
 * 1. http://goo.gl/pHS7Hf
 */
select,
button {
  text-transform: none; /* 1 */
}
