/**
 * Default buttons
 *
 * @Example
 * <button class="btn" type="button">Button button</button>
 * <a class="btn">Link button</a>
 *
 * @Codepen
 *
 */
.btn {
  position: relative;
  display: inline-block;
  padding: 6px 12px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 2px;
  user-select: none;
  background #fff;

  color: #2c82bc;
  border: 1px solid #2c82bc;

  &:hover {
    color: #fff;
    background #2c82bc;
  }
}


/**
 * Danger buttons
 */
.btn-danger {
  color: #E84040;
  border: 1px solid #E84040;

  &:hover {
    color: #fff;
    background #E84040;
  }
}



/**
 * Disabled Button
 *
 * @Example
 * <button class="btn disabled" type="button">Button button</button>
 * <a class="btn disabled">Link button</a>
 */
.btn:disabled,
.btn.disabled {
  cursor: default;
  background: #efefef;
  border: 1px solid #8BA2B1;
  color: #8BA2B1;
}

.btn-danger:disabled,
.btn-danger.disabled {
  cursor: default;
  background #efefef;
  border: 1px solid #E09D9D;
  color: #E09D9D;
}





/**
 * Small Button
 *
 * @Example
 * <button class="btn btn-s" type="button">Button button</button>
 * <a class="btn btn-s">Link button</a>
 *
 * @Codepen
 *
 */
btn.btn-s {
  padding: 2px 5px;
}
