/**
 * Table
 *
 * @Example
 * <table class="table">
 *  <thead>
 *    <tr class="table-header-row">
 *      <th class="table-header-cell"></th>
 *    </tr>
 *  </thead>
 *  <tbody>
 *    <tr class="table-body-row">
 *      <td class="table-body-cell">
 *        <div class="table-content"></div>
 *      </td>
 *    </tr>
 *  </tbody>
 * </table>
 *
 * @Codepen
 * http://codepen.io/fuelpump/pen/KVxOJK
 */
.table {
  width: 100%;
}

.table-header-row,
.table-body-row {
  border-bottom: 4px solid #ededed;
}

.table-header-row {
  text-align: left;
  background-color: transparent;
}

.table-body-row {
  box-shadow: 0 0 1 0 rgba(0, 0, 0, .1);
  background: #fff;
}

.table-header-cell:first-of-type,
.table-body-cell:first-of-type { padding: 6px 10px 6px 15px; }

.table-header-cell:last-of-type,
.table-body-cell:last-of-type  { padding: 6px 15px 6px 10px; }

.table-header-cell {
  user-select: none;
  font-weight: bold;
  font-size: 10px;
  color: #859095;
}

.table-body-cell {
  font-size: 12px;
  color: #777777;
}

.table-content {
  position: relative;
}





/**
 * @Description
 * In the HTML above we see several `col` elements with classes whose numbers
 * represent a percentage width for that column. We leave one column free of a
 * class so that column can soak up the effects of any accidental breakage in
 * the table.
 *
 * @Copyright
 * https://github.com/csswizardry/inuit.css/blob/master/base/_tables.scss
 */
.table-width5     { width: 5% }
.table-width10    { width:10% }
.table-width12    { width:12.5% }     /* 1/8 */
.table-width15    { width:15% }
.table-width20    { width:20% }
.table-width25    { width:25% }       /* 1/4 */
.table-width30    { width:30% }
.table-width33    { width:33.333% }   /* 1/3 */
.table-width35    { width:35% }
.table-width37    { width:37.5% }     /* 3/8 */
.table-width40    { width:40% }
.table-width45    { width:45% }
.table-width50    { width:50% }       /* 1/2 */
.table-width55    { width:55% }
.table-width60    { width:60% }
.table-width62    { width:62.5% }     /* 5/8 */
.table-width65    { width:65% }
.table-width66    { width:66.666% }   /* 2/3 */
.table-width70    { width:70% }
.table-width75    { width:75% }       /* 3/4*/
.table-width80    { width:80% }
.table-width85    { width:85% }
.table-width87    { width:87.5% }     /* 7/8 */
.table-width90    { width:90% }
.table-width95    { width:95% }
