/*------------------------------------*\
    $DASHBOARD
\*------------------------------------*/
/**
 *
 * @Example
 * <div class="dashboar-wrapper">
 *   <aside class="dashboard-aside"></aside>
 *   <main class="dashboard-main"></main>
 * </div>
 *
 * @Credit
 * Thanks to http://codyhouse.co/gem/secondary-expandable-navigation/
 */
.dashboard-wrapper
  height 100%


.dashboard-wrapper > .dashboard-main,
.dashboard-wrapper > .dashboard-aside
  overflow auto
  height 100%
  max-height 100%


.dashboard-wrapper > .dashboard-aside
  position absolute
  top 0
  left 0
  bottom 0
  width 210px
  /**
   * Hack
   *
   * iOS Safari scrolling causes HTML elements with a delay
   */
  transform translate3d(0,0,0)


.dashboard-wrapper > .dashboard-main
  position relative
  float right
  top 0
  width calc(100% - 210px)
  /**
   * Hack
   *
   * iOS Safari scrolling causes HTML elements with a delay
   */
  transform translate3d(0,0,0)
