/*------------------------------------*\
    $BUTTONS
\*------------------------------------*/





/*------------------------------------*\
    #FILL
\*------------------------------------*/
/**
 * @Example
 * <button class="btn -fill" type="button">Fill Button</button>
 * <a class="btn -fill" href="#" role="button">Fill Button</a>
 */
.btn.-fill
  background color-grey
  border 1px solid color-grey
  color #fff
  &:hover
    opacity .7





/*------------------------------------*\
    #STYLE
\*------------------------------------*/
/**
 * @Example
 * <button class="btn -soft" type="button">Soft Button</button>
 * <a class="btn -soft" href="#" role="button">Soft Button</a>
 */
.btn.-soft
  border-radius 200px


/**
 * @Example
 * <button class="btn -hard" type="button">Hard Button</button>
 * <a class="btn -hard" href="#" role="button">Hard Button</a>
 */
.btn.-hard
  border-radius 0



/*------------------------------------*\
    #SIZING
\*------------------------------------*/
/**
 * @Example
 * <button class="btn -small" type="button">Small Button</button>
 * <a class="btn -small" href="#" role="button">Small Button</a>
 */
.btn.-small
  padding 4px 8px


/**
 * @Example
 * <button class="btn -large" type="button">Large Button</button>
 * <a class="btn -large" href="#" role="button">Large Button</a>
 */
.btn.-large
  padding 14px 28px





/*------------------------------------*\
    #FUNCTION
\*------------------------------------*/
/**
 * Solid
 *
 * @Example
 * <button class="btn.-default" type="button">Default Button</button>
 * <button class="btn.-success" type="button">Success Button</button>
 * <button class="btn.-warning" type="button">Warning Button</button>
 * <button class="btn.-danger" type="button">Danger Button</button>
 *
 * <a class="btn.-default" href="#" role="button">Default Button</a>
 * <a class="btn.-success" href="#" role="button">Success Button</a>
 * <a class="btn.-warning" href="#" role="button">Warning Button</a>
 * <a class="btn.-danger" href="#" role="button">Danger Button</a>
 */
/**
 * Default
 */
.btn.-default
  color color-blue
  border: 1px solid darken(color-blue, 20%)
  &:hover
    color #fff
    background color-blue


/**
 * Success
 */
.btn.-success
  color color-green
  border 1px solid darken(color-green, 20%)
  &:hover
    color #fff
    background color-green


/**
 * Warning
 */
.btn.-warning
  color: color-yellow
  border: 1px solid darken(color-yellow, 20%)
  &:hover
    color #fff
    background: color-yellow


/**
 * Danger
 */
.btn.-danger
  color: color-red
  border: 1px solid darken(color-red, 20%)
  &:hover
    color #fff
    background: color-red


/**
 * Fill Button
 *
 * <button class="btn -fill -danger" type="buton">Default Button</button>
 * <button class="btn -fill -success" type="buton">Success Button</button>
 * <button class="btn -fill -warning" type="buton">Warning Button</button>
 * <button class="btn -fill -danger" type="buton">Danger Button</button>
 *
 * <a class="btn -fill -danger" href="#" role="buton">Default Button</a>
 * <a class="btn -fill -success" href="#" role="buton">Success Button</a>
 * <a class="btn -fill -warning" href="#" role="buton">Warning Button</a>
 * <a class="btn -fill -danger" href="#" role="buton">Danger Button</a>
 */
/**
 * Default
 */
.btn.-fill.-default
  color: #fff
  background: color-blue
  border: 1px solid darken(color-blue, 20%)
  &:hover
    background: color-blue


/**
 * Success
 */
.btn.-fill.-success
  color: #fff
  background: color-green
  border: 1px solid darken(color-green, 20%)
  &:hover
    background: color-green


/**
 * Warning
 */
.btn.-fill.-warning
  color: #fff
  background: color-yellow
  border: 1px solid darken(color-yellow, 20%)
  &:hover
    background: color-yellow


/**
 * Danger
 */
.btn.-fill.-danger
  color: #fff
  background: color-red
  border: 1px solid darken(color-red, 20%)
  &:hover
    background: color-red





/*------------------------------------*\
    #BTN-GROUP
\*------------------------------------*/
/**
 * @Example
 *
 * <div class="bnt-group">
 *   <button class="btn" type="button">Button</button>
 *   <button class="btn" type="button">Button</button>
 *   <button class="btn" type="button">Button</button>
 * </div>
 *
 * <div class="bnt-group">
 *   <a class="btn" href="#" role="button">Button</a>
 *   <a class="btn" href="#" role="button">Button</a>
 *   <a class="btn" href="#" role="button">Button</a>
 * </div>
 *
 */
.btn-group
  font-size 0
  display   inline-block

  > .btn
    border-radius 0

  > .btn:first-child
    border-top-left-radius     brand-round
    border-bottom-left-radius  brand-round

  > .btn:last-child
    border-top-right-radius    brand-round
    border-bottom-right-radius brand-round

  > .btn:not(:first-child):not(:last-child)
    border-right none
    border-left  none
