/*------------------------------------*\
    $CODE
\*------------------------------------*/
/**
 * CODE like GitHub
 *
 * @Example
 * <pre>
 *  <code class="code--github"> // </code>
 * </pre>
 *
 * @Credit
 * Thanks to https://github.com/sindresorhus/github-markdown-css
 */
.code--github
  @extend .code
  padding 16px
  color code-color
  background code-background
  border-radius brand-round
