/*------------------------------------*\
    $TABLE
\*------------------------------------*/
/**
 *
 * @Example
 * <table class="table -striped">
 *   //
 * </table>
 */
.table.-striped
  > .table-body
    > .table-row:nth-child(even)
      background #f1f4f8
