/*------------------------------------*\
    $BASE
\*------------------------------------*/





/*------------------------------------*\
    #HTML
\*------------------------------------*/
html
  min-height: 100%
  size-adjust: 100%
  osx-font-smoothing: grayscale
  font-smoothing: antialiased
  font-feature-settings:"liga" on





/*------------------------------------*\
    #HTML & BODY
\*------------------------------------*/
html,
body
  height: 100%




/*------------------------------------*\
    #FONT
\*------------------------------------*/
@import url(https://fonts.googleapis.com/css?family=Lato:400,100,300,700)

[lang="ja"] body
  font-family: 'ヒラギノ角ゴ Pro W3' sans-serif,'Hiragino Kaku Gothic Pro','HiraKakuPro-W3'

[lang="en"] body
  font-family: 'Lato', sans-serif,'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','HiraKakuPro-W3'
