/*------------------------------------*\
    $UI-SWITCH
\*------------------------------------*/
/**
 * UI Switch
 *
 * @Example
 * <div class="switch__container">
 *   <input class='switch' id='cb' type='checkbox'>
 *   <label class='switch-btn' for='cb'></label>
 * </div>
 *
 * @Credit
 * Thanks to http://codepen.io/mallendeo/pen/eLIiG
 */
.switch
  display none


.switch,
.switch:after,
.switch:before,
.switch *,
.switch *:after,
.switch *:before,
.switch + .switch-btn
  box-sizing border-box


.switch::selection,
.switch:after::selection,
.switch:before::selection,
.switch *::selection,
.switch *:after::selection,
.switch *:before::selection,
.switch + .switch-btn::selection
  background none


.switch + .switch-btn
  outline 0
  display block
  position relative
  cursor pointer
  user-select none
  width 4em
  height 2em
  background #fbfbfb
  border 1px solid #e8eae9
  padding 2px


.switch + .switch-btn:after,
.switch + .switch-btn:before
  position relative
  display block
  content ""
  width 50%
  height 100%


.switch + .switch-btn:after
  left 0
  background #fbfbfb
  transition left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease
  box-shadow 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08)


.switch + .switch-btn:before
  display none


.switch:checked + .switch-btn:after
  left 50%
