/*------------------------------------*\
    $UI-BUTTON
\*------------------------------------*/
/**
 * UI Base button
 *
 * It is base of button. It is solid button
 * Please use button tag regardless it does not
 * have a link. If it has a link, please specify role
 *
 * @Example
 * <button class="btn" type="button">Button</div>
 * <a class="btn" href="#" role="button">Link Button</a>
 */
.btn
  position relative
  display inline-block
  padding 9px 15px
  font-size font-x-small
  vertical-align middle
  white-space nowrap
  cursor pointer
  text-decoration none
  user-select none
  appearance none
  letter-spacing .1em
  background #fff
  color color-grey
  border 1px solid color-grey
  border-radius brand-round
  transition all animation-duration animation-timing-function


.btn
  &:hover
    text-decoration none
    background color-default
    color #fff
  &:active,
  &:focus
    outline none


/**
 * Icon
 *
 * @Example
 * <button class="btn" type="button"><i class="fa fa-icon"></i>Button</div>
 * <a class="btn" href="#" role="button"><i class="fa fa-icon">Link Button</a>
 */
.btn > i
  padding: 0 2.5px
