/*------------------------------------*\
    $UI-CODE
\*------------------------------------*/
/**
 * UI Code
 *
 * UI base code style. It is very inspired by GitHub
 * style.
 *
 * @Example
 * <pre>
 *   <code class="code"> // </code>
 * </pre>
 *
 * @Credit
 * Thanks to https://github.com/sindresorhus/github-markdown-css
 */
.code
  overflow-x hidden
  overflow-y auto
  display block
  font-size font-x-small
