/*------------------------------------*\
    $UI-TABLE
\*------------------------------------*/
/**
 * UI Table
 *
 * @Example
 * <table class="table">
 * <thead class="table-header">
 *   <tr class="table-row">
 *     <th class="table-header-column"></th>
 *   </tr>
 * </thead>
 * <tbody class="table-body">
 *   <tr class="table-row">
 *     <td></td>
 *   </tr>
 *   <tr class="table-row">
 *     <td class="table-body-column"></td>
 *   </tr>
 * </tbody>
 * </table>
 *
 */
.table
 width 100%
 > .table-header-column,
 > .table-body-column
   padding 12px

 > .table-header > .table-row
   text-align left
   border-bottom 2px solid brand-color

 > .table-body   > .table-row
   border-bottom 1px solid #ccc
   cursor pointer
